<h1>{{getTitle()}}</h1>
<div class="loading-container" *ngIf="layoutMode === 'loadingModelData'">
  <mat-spinner diameter="20"></mat-spinner>
  <span>Carregando dados...</span>
</div>
<div class="loading-register-container" *ngIf="layoutMode === 'loadModelDataError'">
  <mat-icon>error</mat-icon>
  <span>Erro ao carregar dados</span>
  <div class="btns">
    <button mat-raised-button color="primary" (click)="loadModel()">
      Recarregar
    </button>
  </div>
</div>
<form *ngIf="layoutMode === 'showForm'" [formGroup]="modelFormGroup" (ngSubmit)="onSubmit()">
  <fieldset [disabled]="submittingForm">
    <app-model-form [formGroup]="modelFormGroup"></app-model-form>
    <div class="btns">
      <button 
        [class.spinner]="submittingForm" 
        [disabled]="modelFormGroup?.invalid || submittingForm" 
        mat-raised-button 
        color="primary">
        Enviar
      </button>
      <button 
        *ngIf="modelHasListPage"
        [disabled]="submittingForm"
        (click)="onBackPage($event)" 
        mat-raised-button>
        Voltar
      </button>
    </div>
    <div *ngIf="submitErrorMessage" class="error">
      {{submitErrorMessage}}
    </div>
  </fieldset>
</form>